body {
  padding: 0;
  margin: 0;
  background: url("/assets/congruent_outline.png");
}

form {
  /* Centralizar o formulário na pagina */
  margin: 50px auto;
  width: 350px;
  /* Ver o esboço do formulário */
  padding: 3em;
  border: 3px solid #ccc;
  border-radius: 1.5em;
}

form div + div {
  margin-top: 1em;
}

label {
  width: 90px;
}

input,
textarea {
  /* 
  Para garantir que todos os campos de texto tenham as mesmas configurações de fonte
       Por padrão, as áreas de texto possuem a mesma fonte */
  font: 1em sans-serif;

  /* Para dar o mesmo tamanho a todos os campos de texto*/
  width: 240px;
  box-sizing: border-box;

  /* Para harmonizar o aspecto e a sensação da borda do campo de texto */
  border: 2px solid var(--color-grey);
}

input:focus,
textarea:focus {
  border-color: var(--color-white);
}

textarea {
  /* Para alinhar corretamente campos de texto multilinha com seus rótulos */
  vertical-align: top;

  /* Para dar espaço suficiente para digitar algum texto */
  height: 10rem;

  /* Estilização do textarea */
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

/* Estilização de botões do formulário */
.action-form {
  display: flex;
  justify-content: center;
}

#send {
  border: 1px solid var(--color-green);
  border-radius: 8px;
  padding: 10px;
  color: var(--color-green);
  background-color: transparent;
}

#send:hover {
  background-color: var(--color-green);
  color: var(--color-white);
  cursor: pointer;
}

#button-clear {
  border: 1px solid var(--color-red-primary);
  border-radius: 8px;
  padding: 10px;
  color: var(--color-red-primary);
  margin-left: 20px;
  background-color: transparent;
}

#button-clear:hover {
  background-color: var(--color-red-primary);
  color: var(--color-white);
  cursor: pointer;
}

.text-field {
  color: var(--color-white);
}

.title-form {
  color: var(--color-white);
  text-align: center;
}

.input-style {
  border: none;
  border-radius: 15px;
  height: 30px;
  padding: 0 10px;
}
