.navbar-brand {
  font-family: "Montserrat";
  font-size: 1.35rem;
  color: var(--color-red-primary) !important;
}

.nav-link {
  font-size: 16px;
  margin: 10px;
}

.nav-link:hover {
  color: var(--color-blue-primary) !important;
}