#models {
  background: url("/assets/pattern_beanstalk.png");
  padding-bottom: 50px;
}

.card-body h4 a {
  text-decoration: none;
  color: #2a2a2a;
}
.card-body h4 a:hover {
  color: #337ab7;
}

.card-title {
  padding-bottom: 40px;
}

#models a{
  color: #fff;
}

.download {
  background-color: #d93025;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  color: #fff;
}

.download:hover{
  background-color: #b6241a;
}
