#models {
  background: url("/assets/pattern_beanstalk.png");
  padding-bottom: 50px;
}

.card-title {
  padding-bottom: 40px;
}

#models a{
  color: #fff;
  text-decoration: none;
}

.download {
  background-color: var(--color-red-primary);
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  color: #fff;
}

.download:hover{
  background-color: var(--color-red-secondary);
}
