#services {
  background: url("/assets/pattern_beanstalk.png");
  padding-top: 30px;
  padding-bottom: 50px;
}

#services div > h2 {
  padding-bottom: 40px;
}

.form-button {
  background-color: var(--color-blue-primary);
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  color: var(--color-white);
}

.form-button:hover {
  background-color: var(--color-blue-secondary);
  cursor: pointer;
}

.form-button a {
  color: var(--color-white);
  text-decoration: none;
}